In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\moons\appdata\local\programs\python\python36\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymysql
import pandas as pd

##pymysql -> mysql를 파이썬에서 사용하기 위해서 불러온 라이브러리
## pandas -> mysql를 이용해서 받아온 데이터를 데이터프레임의 형태로 변경.

In [5]:
## pymysql에 있는 connect라는 함수를 이용해서 접속할 Database을 지정.

_db = pymysql.connect(
    user = 'root',
    passwd = '1234', 
    host = 'localhost', 
    db = 'ubion4'
)

In [6]:
## cursor는 sql구문을 실행 시키기위해 만들어야되는 변수. 
## 인자값에 들어가는 Dictcursor -> sql을 통해서 받아오는 데이터의 형태를 딕셔너리 형태로 받아오겠다. 
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [15]:
sql = """SELECT createDt as 날짜, deathCnt as 누적사망자, 
decideCnt as 누적확진자 
FROM corona ORDER BY createDt LIMIT 10 """

cursor.execute(sql)
result = cursor.fetchall()
# result는 딕셔너리 형태의 데이터
# print(result)

# 딕셔너리 형태의 데이터를 데이터프레임으로 변경.
df_result = pd.DataFrame(result)
df_result

                        날짜  누적사망자  누적확진자
0  2020-03-10 00:00:00.000     54   7513
1  2020-03-11 00:00:00.000     60   7755
2  2020-03-12 00:00:00.000     66   7869
3  2020-03-13 00:00:00.000     67   7979
4  2020-03-14 00:00:00.000     72   8086
5  2020-03-15 00:00:00.000     75   8162
6  2020-03-16 00:00:00.000     75   8236
7  2020-03-17 00:00:00.000     81   8320
8  2020-03-18 00:00:00.000     84   8413
9  2020-03-19 00:00:00.000     91   8565

In [17]:
sql = """insert into test(id, password, name, phone) values (%s, %s, %s, %s)"""
values = ["test3", "1234", "kim", "01012345678"]

cursor.execute(sql, values)
_db.commit()

In [18]:
_id = input("ID : ")
_pw = input("password : ")
_name = input("name : ")
_phone = input("phone : ")

values = [_id, _pw, _name, _phone]
cursor.execute(sql, values)
_db.commit()

In [19]:
### update문 -> input 2개 ID, password 
### 테이블은 test
### update문 구조, password 변경. where id = (input으로 받은 ID 값)
### sql문 values 지정을 해서 execute commit 코드를 작성

## update문 구조
## update 테이블명 set 컬럼명 = 변경할 값 where 조건식

### sql문 작성
sql = """
update test set password = %s where id = %s
"""
### ID,password 받아오는 input 2개를 만들고
_id = input("ID : ")
_pw = input("password : ")
### 그 값들은 리스트로 변경
values = [_pw, _id]
### execute
cursor.execute(sql, values)
### commit
_db.commit()

In [20]:
### delete문 
### input값 1개 (ID)
### 해당 ID 값만 데이터가 삭제 되도록 sql문을 구성.
### delete문 구조
### delete from 테이블명 where 조건식

sql = """
delete from test where id = %s
"""

_id = input("ID : ")
values=[_id]

cursor.execute(sql, values)
_db.commit()