In [4]:
import pandas as pd
corona_df = pd.read_csv("../csv/corona.csv")    ##csv 파일 로드
corona_df.sort_values("createDt", inplace=True)     ##2번 createDt를 기준으로 오름차순 정렬 원본 데이터 수정
corona_df.reset_index(drop=True, inplace=True)      #3번 index 값초기화 기존 인덱스 삭제 원본 데이터 수정
corona_df.drop("Unnamed: 0", axis=1, inplace=True)          #4번 Unnamed: 0 컬럼을 삭제하고 원본 데이터 수정
corona_df.head()

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000

In [6]:
corona_df.columns = ["등록일시", "사망자", "확진자", "게시글번호", "기준일", "기준시간", 
                    "수정일시", "누적의심자", "누적확진률"]

In [7]:
corona_df.isna().sum()

등록일시       0
사망자        0
확진자        0
게시글번호      0
기준일        0
기준시간       0
수정일시       3
누적의심자    128
누적확진률    197
dtype: int64

In [8]:
corona_df.describe()
corona_df

,등록일시,사망자,확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진률
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN

### describe() 함수에서 요약 정보
1. count : 컬럼별 데이터의 개수
2. mean : 컬럼별 데이터의 평균 값
3. std : 컬럼별 데이터의 표준편차
4. min : 컬럼별 데이터의 최소값
5. max : 컬럼별 데이터의 최대값
6. 25%, 50%, 75% : 컬럼별 백분위수의 각 지점의 값, 분포를 반영해서 평균을 보완하는 목적으로 사용

In [ ]:
## 일일 확진자 라는 파생변수를 생성
## 일일 확진자는 수치가 어떻게 나와야될까요?
## 컬럼의 당일 확진자의 수 - 전일 확진자의 수 = 일일 확진자의 수

corona_df["일일확진자"] = (corona_df["확진자"] - corona_df["확진자"].shift())
corona_df.head()

### shift()
1. shift(n) -> n을 공란으로 두면 기본값이 1 인덱스를 1아래인 값을 뜻한다.
2. n의 값이 존재 하면 n 값만큼 인덱스를 이동하여 그 행의 값을 가지고 온다. 

### diff()
1. 한 객체 내에서 열과 열 / 행과 행의 차이를 출력

In [10]:
## 일일 확진자 파생변수 생성 완료.
## 일일사망자 파생변수를 만들어봅니다!

corona_df["일일사망자"] = corona_df["사망자"].diff()
corona_df.head()

,등록일시,사망자,확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진률,일일확진자,일일사망자
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,NaN,NaN
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,242.0,6.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,114.0,6.0
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,110.0,1.0
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,107.0,5.0

In [11]:
corona_df.drop(["일일확진자", "일일사망자"], axis=1, inplace=True)

In [12]:
corona_df.head()

,등록일시,사망자,확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진률
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000

### fillna()
1. NaN이라는 값에 ()안에 들어가는 값으로 대체를 한다.

In [13]:
corona_df["일일확진자"] = (corona_df["확진자"] - corona_df["확진자"].shift()).fillna(0)
corona_df["일일사망자"] = corona_df["사망자"].diff().fillna(0)
corona_df.head()

,등록일시,사망자,확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진률,일일확진자,일일사망자
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,242.0,6.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,114.0,6.0
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,110.0,1.0
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,107.0,5.0

In [14]:
corona_df["일일확진자"].describe()

count       820.000000
mean      22171.569512
std       71013.854189
min        -430.000000
25%         125.000000
50%         642.500000
75%        2782.750000
max      621204.000000
Name: 일일확진자, dtype: float64

In [15]:
corona_df["일일사망자"].describe()

count    820.000000
mean      29.574390
std       68.530863
min       -2.000000
25%        2.000000
50%        5.000000
75%       20.000000
max      469.000000
Name: 일일사망자, dtype: float64

In [ ]:
import matplotlib.pyplot as plt

decide_cnt = corona_df.tail(100)["일일확진자"].values.tolist()
plt.plot(decide_cnt)
plt.show()

In [ ]:
death_cnt = corona_df["일일사망자"].values.tolist()
plt.plot(death_cnt)
plt.show()

### fillna()
1. () 값을 넣으면 Nan에 값이 대입
2. method 속성 ffill, bfill -> fill은 채우다 f, b -> f = front // b = back
3. ffill -> 앞의 값으로 대체 / bfill -> 뒤의 값으로 대체

In [22]:
corona_df.tail(20)

,등록일시,사망자,확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진률,일일확진자,일일사망자
800,2022-05-20 09:02:54.987,23885,17914882,885,20220520,00:00,2022-05-27 09:04:41.621,NaN,NaN,25113.0,43.0
801,2022-05-21 08:39:51.786,23911,17938332,886,20220521,00:00,2022-05-28 09:10:27.211,NaN,NaN,23450.0,26.0
802,2022-05-22 07:52:40.527,23965,17957621,887,20220522,00:00,2022-05-28 09:10:20.33,NaN,NaN,19289.0,54.0
803,2022-05-23 08:56:56.412,23987,17967592,888,20220523,00:00,2022-05-28 09:10:13.674,NaN,NaN,9971.0,22.0
804,2022-05-24 08:49:38.261,24006,17993923,889,20220524,00:00,2022-05-31 08:58:44.451,NaN,NaN,26331.0,19.0
805,2022-05-25 09:02:44.294,24029,18017859,890,20220525,00:00,2022-06-01 09:08:25.254,NaN,NaN,23936.0,23.0
806,2022-05-26 09:13:37.732,24063,18036664,891,20220526,00:00,2022-06-01 09:08:19.164,NaN,NaN,18805.0,34.0
807,2022-05-27 09:03:34.444,24103,18053236,892,20220527,00:00,2022-06-03 09:11:10.578,NaN,NaN,16572.0,40.0
808,2022-05-28 09:09:18.909,24139,18067610,893,20220528,00:00,2022-06-04 09:00:06.316,NaN,NaN,14374.0,36.0
809,2022-05-29 09:05:28.382,24158,18080257,894,20220529,00:00,2022-06-04 08:59:51.863,NaN,NaN,12647.0,19.0
810,2022-05-30 09:01:30.847,24167,18086392,895,20220530,00:00,2022-06-04 08:59:37.203,NaN,NaN,6135.0,9.0
811,2022-05-31 08:55:39.977,24176,18103577,896,20220531,00:00,2022-06-04 08:59:23.637,NaN,NaN,17185.0,9.0
812,2022-06-01 09:07:30.461,24197,18119345,897,20220601,00:00,2022-06-08 09:12:05.316,NaN,NaN,15768.0,21.0
813,2022-06-02 08:58:19.746,24212,18129236,898,20220602,00:00,2022-06-08 09:11:51.985,NaN,NaN,9891.0,15.0
814,2022-06-03 09:08:18.729,24229,18141775,899,20220603,00:00,2022-06-08 09:11:38.938,NaN,NaN,12539.0,17.0
815,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,12039.0,9.0
816,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,9834.0,20.0
817,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,5022.0,21.0
818,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,6172.0,20.0
819,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN,13358.0,6.0

In [ ]:
corona_df.fillna(method="ffill").tail(20)

In [ ]:
corona_df.fillna(method="bfill").tail(20)

In [ ]:
corona_df["누적의심자"].fillna(max(corona_df["누적의심자"]))

In [ ]:
corona_df["누적확진률"].fillna(corona_df["누적확진률"].mean())

In [ ]:
corona_df.query("일일확진자 < 0")       ## 일일확진자 컬럼의 값들 중 0보다 작은 값을 출력

In [ ]:
corona_df.query("일일사망자 < 0")

In [34]:
corona_df.loc[444:448,:]

,등록일시,사망자,확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진률,일일확진자,일일사망자
444,2021-05-29 00:00:00.000,1951,139427,496,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,533.0,5.0
445,2021-05-30 00:00:00.0,1959,140337,498,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,910.0,8.0
446,2021-05-30 00:00:00.000,1957,139907,497,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-430.0,-2.0
447,2021-06-01 00:00:00.000,1963,140796,499,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,889.0,6.0
448,2021-06-02 00:00:00.000,1965,141473,500,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,677.0,2.0

### apply()
1. 컬럼의 있는 각 원소들에 연산을 해주는 함수

In [35]:
corona_df["누적확진률"].describe()

count    623.000000
mean       1.556435
std        0.543014
min        0.902205
25%        1.078089
50%        1.416159
75%        1.816009
max        3.919308
Name: 누적확진률, dtype: float64

### lambda 함수
1. lambda 매개변수 : 표현식

In [36]:
corona_df["H/L"] = corona_df["누적확진률"].apply(lambda x : "High" if (x > 1.556) else "Low")

In [ ]:
def H_and_L(x):
    if x > 1.556:
        return "High"
    else:
        return "Low"

corona_df["H/L"] = corona_df["누적확진률"].apply(H_and_L)

In [37]:
corona_df["H/L"].value_counts()

Low     617
High    203
Name: H/L, dtype: int64

In [39]:
corona_df.tail()

,등록일시,사망자,확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진률,일일확진자,일일사망자,H/L
815,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,12039.0,9.0,Low
816,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,9834.0,20.0,Low
817,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,5022.0,21.0,Low
818,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,6172.0,20.0,Low
819,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN,13358.0,6.0,Low

In [40]:
## apply 함수를 이용해서 '일일확진자' 값중 음수인 값에 NaN으로 대체.
import numpy as np