In [1]:
## uriage.csv 파일 로드 
import pandas as pd
uriage_data = pd.read_csv("../csv/uriage.csv")
uriage_data.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [3]:
#purchase_date컬럼의 데이터 타입 시계열 변경
uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"])

In [7]:
# item_name 컬럼의 값들을 대문자로 변환
uriage_data["item_name"] = uriage_data["item_name"].str.upper()
# uriage_data["item_name"].apply(lambda x : x.upper())

In [10]:
# item_name 컬럼의 공백을 지운다. (문자 사이의 공백도 다 지우는 작업)
# strip -> 문자열 양 옆에 공백을 지우는 함수
uriage_data["item_name"] = uriage_data["item_name"].str.replace(" ", "")
# uriage_data["item_name"].apply(lambda x : x.replace(" ", ""))

In [12]:
# item_name 컬럼을 기준으로 오름차순 정렬
uriage_data.sort_values("item_name", ascending=True, inplace=True)
# uriage_data = uriage_data.sort_values("item_name", ascending=True)

In [15]:
# 데이터의 결측치 확인
uriage_data.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [ ]:
uriage_data.isna().any(axis=0)

In [18]:
# item_price 결측치의 값을 해당하는 item_name들의 맥스값으로 치환하여 결측치를 채워주는 작업
flg_is_null = uriage_data["item_price"].isna()
# item_price의 값이 NaN인 item_name들의 중복 값을 삭제한 array형태
uriage_data.loc[flg_is_null, "item_name"].unique()

array(['상품A', '상품B', '상품C', '상품D', '상품E', '상품F', '상품G', '상품H', '상품I',
       '상품J', '상품K', '상품L', '상품M', '상품N', '상품O', '상품P', '상품Q', '상품R',
       '상품S', '상품T', '상품U', '상품V', '상품W', '상품X', '상품Y'], dtype=object)

In [23]:
# ~ 연산자는 bool형태의 데이터를 반전 시켜준다.
uriage_data.loc[(~flg_is_null) & (uriage_data["item_name"] == "상품A"), "item_price"].max()

100.0

In [27]:
for trg in list(uriage_data.loc[flg_is_null, "item_name"].unique()):
    price = uriage_data.loc[(~flg_is_null) & (uriage_data["item_name"] == trg), 
                            "item_price"].max()
    # print(trg, price)
    uriage_data["item_price"].loc[(flg_is_null) & (uriage_data["item_name"] == trg)] = price

c:\Users\moons\AppData\Local\Programs\Python\Python36\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [28]:
uriage_data.loc[uriage_data["item_name"] == "상품A"]

           purchase_date item_name  item_price customer_name
0    2019-06-13 18:02:00       상품A       100.0           김가온
1748 2019-05-19 20:22:00       상품A       100.0           김시훈
223  2019-06-25 08:13:00       상품A       100.0           김유진
1742 2019-06-13 16:03:00       상품A       100.0           김건희
1738 2019-02-10 00:28:00       상품A       100.0           김하랑
...                  ...       ...         ...           ...
2609 2019-01-13 11:50:00       상품A       100.0           김시율
2636 2019-03-09 14:20:00       상품A       100.0           김우찬
2    2019-05-11 19:42:00       상품A       100.0           김유찬
2886 2019-04-25 17:15:00       상품A       100.0           김강현
2897 2019-05-20 14:05:00       상품A       100.0           김지안

[139 rows x 4 columns]