In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("./csv/AMZN.csv")
df.head()

In [ ]:
price_df = df.loc[:, ["Date", "Adj Close"]].copy()
price_df.head()

In [ ]:
## Date 컬럼 인덱스 변환
price_df.set_index(["Date"], inplace=True)
price_df.head()

In [ ]:
## 이동 평균선 구하기 -> 데이터양 20개의 평균을 구해서 컬럼에 대입
price_df["center"] = price_df["Adj Close"].rolling(20).mean()
price_df.head(25)

In [ ]:
# 상단 밴드 생성 ( 이동 평균선 + 2 *표준편차 )
price_df["ub"] = price_df['center'] + 2 * price_df["Adj Close"].rolling(20).std()
price_df.iloc[18:25]

In [ ]:
# 하단 밴드 생성 ( 이동 평균선 - 2 * 표준편차 )
price_df["lb"] = price_df['center'] - 2 * price_df["Adj Close"].rolling(20).std()
price_df.iloc[18:25]

In [10]:
## 이동 평균선과 상단 밴드, 하단 밴드 구하는 함수를 생성
## 함수에 매개변수는 dataframe이 들어가는 매개변수 1개, 
## 평균선을 그릴때 데이터의 갯수가 담기는 매개변수 1개

def bollinger(data, n):
    df = data.loc[:, ["Date", "Adj Close"]].copy()
    df.set_index(["Date"], inplace=True)
    df["center"] = df["Adj Close"].rolling(n).mean()
    df["ub"] = df["center"] + 2 * df["Adj Close"].rolling(n).std()
    df["lb"] = df["center"] - 2 * df["Adj Close"].rolling(n).std()
    return df

In [11]:
test = pd.read_csv("./csv/AAPL.csv")

In [12]:
bollinger(test, 20)

             Adj Close    center          ub          lb
Date
1980-12-12    0.410525       NaN         NaN         NaN
1980-12-15    0.389106       NaN         NaN         NaN
1980-12-16    0.360548       NaN         NaN         NaN
1980-12-17    0.369472       NaN         NaN         NaN
1980-12-18    0.380182       NaN         NaN         NaN
...                ...       ...         ...         ...
2019-06-18  198.449997  185.4325  201.032574  169.832427
2019-06-19  197.869995  185.9960  202.558154  169.433846
2019-06-20  199.460007  186.8300  204.361771  169.298229
2019-06-21  198.779999  187.7860  205.751400  169.820600
2019-06-24  199.169998  188.7960  206.944862  170.647138

[9715 rows x 4 columns]