In [1]:
a = 7
b = 3

print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

10 4 21 2.3333333333333335 2 1 343

In [2]:
## a += b --> a = a + b

a += 3
print(a)

10

In [3]:
a -= 3
print(a)

7

In [4]:
a *= 3
print(a)

21

In [5]:
a /= 3
print(a)

7.0

In [6]:
print(a+b)

10.0

In [7]:
a = 10
b = 20

In [8]:
print(a == b, a != b, a > b, a >= b , a < b, a <=b)

False True False False True True

In [9]:
a = 25
(a > 30) and (a < 50)

False

In [10]:
(a > 30) or (a < 50)

True

In [12]:
not(a == 30)

True

In [13]:
## if문 조건식이 참인경우 if 아래에 들여쓰기가 되어있는 코드를 실행
## 거짓인 경우에는 실행이 되지 않습니다. 
## else 라는 구문이 존재하면 조건식이 거짓인 경우 elsse 아래에 들여쓰기가
## 되어있는 코드가 실행.

a = 20

if a < 10 :     ## 조건식은 a가 10보다 작은경우
    print("a는 10보다 작다")
else : 
    print("a는 10보다 크거나 같다")
## 결과값은 어떤 값? -> a는 10보다 크거나 같다

a는 10보다 크거나 같다

In [14]:
score = int(input("점수를 입력하세요 : "))
if score >=90 :     ## score가 90이상
    print("A")
elif score >= 80:   ## score가 80이상이고 90 미만인경우
    print("B")
elif score >= 70:   ## score가 70이상이고 80 미만인 경우
    print("C")
elif score >= 60:   ## score가 60이상이고 70 미만인 경우
    print("D")
else :              ## score가 60미만인 경우
    print("F")

C

In [1]:
## for문은 반복문
## for 변수명 in range(시작값, 종료값, 증감값)

for a in range(0,5,1):  
    print("%d 번째 반복입니다." %a)

for i in range(10, 1, -1):
    print(i)

0 번째 반복입니다.
1 번째 반복입니다.
2 번째 반복입니다.
3 번째 반복입니다.
4 번째 반복입니다.
10
9
8
7
6
5
4
3
2

### 1에서부터 10까지 합을 구하는 식을 for문을 이용해서 구해보시오

In [18]:
sum = 0

for i in range(1, 11, 1):   ## 종료 값에 11을 적은 이유는 11에서 종료가되서 sum에 증가가 되지 않기 때문
    sum += i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [20]:
for i in range(0, 3, 1):    ## i가 0인 경우에 j는 0,1,2 반복문이 실행
    for j in range(0,3, 1):
        if i == j:
            print(i, j)

0 0
1 1
2 2

1. 반복문을 이용해서 1~10까지 짝수의 값만 출력하시오
2. 반복문을 이용해서 주사위 2개를 굴렸을때 합이 8인 경우를 출력하시오

In [ ]:
for i in range(1, 11, 1):
    if i % 2 == 0:      ## i % 2 == 0 이 조건식이 짝수인 경우
        print(i)

In [22]:
for i in range(1,7,1):
    for j in range(1,7,1):
        if i + j == 8:
            print(i, j)

2 6
3 5
4 4
5 3
6 2

In [23]:
for i in range(2, 10, 1):
    for j in range(1, 10, 1):
        print("%d X %d = %d" %(i, j, i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [3]:
sum = 0 

i=1

while i <= 10 :
    sum += i
    i += 1

print(sum)

55

In [26]:
## break 기능? -> 반복문을 종료
for i in range(1, 100, 1):
    if i ==5:
        break
    print(i)

1
2
3
4

1. 1~100까지 합을 구하는데 합계가 800이상이 되는 범위의 최초의 숫자의 값은 몇인가?

In [30]:
sum = 0

for i in range(1, 101, 1):
    sum += i
    if sum >= 800:
        print(i)
        break

print(sum)

40
820

In [31]:
## continue 기능? -> 반복문으로 돌아간다.

for i in range(1, 10, 1):
    if i <= 3:
        continue
    print(i)

4
5
6
7
8
9

In [36]:
sum = 0
i = 1

while i <=100:
    sum += i
    if sum >= 800:
        break
    i += 1
print(i)

40

In [37]:
## tuple만의 특징? -> 수정&삭제가 불가능하다. 

a = (1, "hello")
b = (3, 3.14)
c = a + b
d = a * 3

print(a, b, c, d)

(1, 'hello') (3, 3.14) (1, 'hello', 3, 3.14) (1, 'hello', 1, 'hello', 1, 'hello')

In [40]:
print(a[0])

1

In [43]:
a = (10, 20, 30, 40)

# (10, 20, 30)을 출력하려면?
print(a[0:3])
print(a[:3])

(10, 20, 30)
(10, 20, 30)

In [44]:
# (30, 40)을 출력하려면?
print(a[2:])

(30, 40)

In [45]:
# (20, 30)을 출력하려면?
print(a[1:3])

(20, 30)

In [46]:
## list 특징? -> 원소의 개수가 0개 -> [] 빈 리스트 생성 가능

a = [20, 10, 40, 30]
b = [12, 99, 24, 55]

a.sort()        ## 오름차순 정렬
b.reverse()     ## 역순
print(a)
print(b)

[10, 20, 30, 40]
[55, 24, 99, 12]

In [47]:
del a[0]        ## 원소 삭제
b.append(22)    ## 원소 값 추가

print(a)
print(b)

[20, 30, 40]
[55, 24, 99, 12, 22]

In [48]:
a = [[10,20], [30, 40], [50, 60]]
print(a)

[[10, 20], [30, 40], [50, 60]]

In [49]:
print(a[2][0])

50

In [50]:
## dict = {key1 : value1, key2: value2, ...}
## value1를 출력하려면 -> dict[key1] 

a = {"name" : "test", "age" : 20, "phone" : "01012345678"}
print(a)

{'name': 'test', 'age': 20, 'phone': '01012345678'}

In [51]:
print(a["name"])

test

In [52]:
a["area"] = "Seoul"
print(a)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'Seoul'}

In [53]:
list(a.keys())

['name', 'age', 'phone', 'area']

In [54]:
a.values()

dict_values(['test', 20, '01012345678', 'Seoul'])

In [55]:
a.items()

dict_items([('name', 'test'), ('age', 20), ('phone', '01012345678'), ('area', 'Seoul')])

In [56]:
a["age"] = 30
print(a)

{'name': 'test', 'age': 30, 'phone': '01012345678', 'area': 'Seoul'}

In [57]:
del(a["phone"])
print(a)

{'name': 'test', 'age': 30, 'area': 'Seoul'}

In [60]:
a = "Hello"
print(len(a))

5

In [61]:
a_len = len(a)

for i in range(0, a_len, 1):
    print(a[i]+"_", end="")

H_e_l_l_o_

In [62]:
b = "Hello world"

print(b.upper())
print(b.lower())
print(b.swapcase())
print(b.title())

HELLO WORLD
hello world
hELLO WORLD
Hello World

In [63]:
print(b)

Hello world

In [64]:
print(b.count("o"))

2

In [67]:
b.find("a")

-1

In [68]:
b.index("a")

ValueError: substring not found

In [5]:
## strip 공백을 제거하는 기능
## 문자열 중간에 있는 공백을 삭제가 불가능

a = "  Hello World  "
a

'  Hello World  '

In [6]:
a.lstrip()

'Hello World  '

In [7]:
a.rstrip()

'  Hello World'

In [8]:
a.strip()

'Hello World'

In [73]:
a

'  Hello World  '

In [74]:
a.replace("Hello", "Hi")

'  Hi World  '

In [75]:
b = "a,b,c,d"
b

'a,b,c,d'

In [76]:
b.split(",")

['a', 'b', 'c', 'd']

In [77]:
a

'  Hello World  '

In [78]:
a.replace(" ", "")

'HelloWorld'

In [79]:
def func_1(a, b):       ## a,b -> 매개변수
    c = a + b
    return c

d = func_1(3,6)         ## 함수 호출시 넣어주는 값? -> 인자
                        ## 함수 생성시 매개변수의 개수 = 함수 호출시 인자의 개수
print(d)

9

In [80]:
print(func_1(10,2))

12

1. func_2()함수를 생성
2. 매개변수 2개(a,b)
3. 함수가 하는 행동 -> a부터 b까지의 합을 return
4. 시간이 되시는 분만 ( a와 b의 크기를 비교해서 a부터 b까지 아니면 b부터 a까지의 합으로 코드 변경)

In [92]:


def func_2(a, b):
    sum = 0
    for i in range(a, b+1, 1):
        sum += i
    return sum

print(func_2(10, 1))

0

In [95]:
def func_3(a,b):
    sum =0
    if a > b:
        for i in range(b, a+1, 1):
            sum += i
        return sum
    else:
        for i in range(a, b+1, 1):
            sum += i
        return sum

func_3(10, 1)

55

In [96]:
def func_4(a, b):
    sum =0
    for i in range(min(a,b), max(a, b)+1, 1):
        sum += i
    return sum

func_4(10, 1)

55