### mongoDB
1. mongoDB 사용하려면 라이브러리 pymongo

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.1.1-cp36-cp36m-win_amd64.whl (368 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.1.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
from pymongo import MongoClient
import pprint

In [4]:
client = MongoClient(
    host = 'localhost', 
    port = 27017
)

In [5]:
## mongoDB Database 목록 출력
client.list_database_names()

['admin', 'config', 'local', 'ubion']

In [6]:
# 데이터베이스에 접근
db = client["ubion"]

In [7]:
# 콜렉션 접근
collection = db["test"]

In [11]:
# 데이터 확인
collection.find_one()

{'_id': ObjectId('62ac05e9c60af933edb835c2'),
 'loc': 'NewYork',
 'deptno': 20.0,
 'dname': 'sales'}

In [29]:
## find() 데이터의 형태를 list로 출력
result = list(collection.find({"name" : "test"}))
result

[{'_id': ObjectId('62ac11c2b036ba5650c764cb'),
  'name': 'test',
  'loc': 'sinlim'},
 {'_id': ObjectId('62ac11ceb036ba5650c764cc'),
  'name': 'test',
  'loc': 'sinlim'},
 {'_id': ObjectId('62ac124eb036ba5650c764cd'),
  'name': 'test',
  'loc': 'sinlim'},
 {'_id': ObjectId('62ac1257b036ba5650c764ce'),
  'name': 'test',
  'loc': 'sinlim'},
 {'_id': ObjectId('62ac127ab036ba5650c764cf'),
  'name': 'test',
  'loc': 'sinlim'}]

In [25]:
# insert
data = {
    "name" : "test",
    "loc" : "sinlim"
}
_id = collection.insert_one(data).inserted_id

In [26]:
list(collection.find({"_id":_id}))

[{'_id': ObjectId('62ac127ab036ba5650c764cf'),
  'name': 'test',
  'loc': 'sinlim'}]

In [27]:
list(collection.find().sort("_id"))

[{'_id': ObjectId('62ac05e9c60af933edb835c2'),
  'loc': 'NewYork',
  'deptno': 20.0,
  'dname': 'sales'},
 {'_id': ObjectId('62ac077bc60af933edb835c3'),
  'name': 'test2',
  'loc': 'Dallas'},
 {'_id': ObjectId('62ac077bc60af933edb835c4'), 'phone': '01098765432'},
 {'_id': ObjectId('62ac11c2b036ba5650c764cb'),
  'name': 'test',
  'loc': 'sinlim'},
 {'_id': ObjectId('62ac11ceb036ba5650c764cc'),
  'name': 'test',
  'loc': 'sinlim'},
 {'_id': ObjectId('62ac124eb036ba5650c764cd'),
  'name': 'test',
  'loc': 'sinlim'},
 {'_id': ObjectId('62ac1257b036ba5650c764ce'),
  'name': 'test',
  'loc': 'sinlim'},
 {'_id': ObjectId('62ac127ab036ba5650c764cf'),
  'name': 'test',
  'loc': 'sinlim'}]

In [28]:
## insert_many()
data = [
    {
        "phone" : "01011112222",
        "age" : 30
    }, 
    {
        "password" : "a1s2d3",
        "id" : "admin"
    }
]

collection.insert_many(data)

In [31]:
collection.update_one(
    {
        "name": "test"
    },
    {
        "$set":{
            "loc" : "NewYork"
        }
    }
)

In [ ]:
list(collection.find({"name" : "test"}))

In [ ]:
collection.update_many(
    {
        "name": "test"
    },
    {
        "$set":{
            "loc" : "NewYork"
        }
    }
)

In [ ]:
list(collection.find({"name" : "test"}))

In [37]:
# remove(cmd)였던 document 삭제기능이 pymongo에서는 delete()
collection.delete_one(
    {
        "name" : "test"
    }
)

In [38]:
list(collection.find({
    "name" : "test"
}))

[{'_id': ObjectId('62ac124eb036ba5650c764cd'),
  'name': 'test',
  'loc': 'NewYork'},
 {'_id': ObjectId('62ac1257b036ba5650c764ce'),
  'name': 'test',
  'loc': 'NewYork'},
 {'_id': ObjectId('62ac127ab036ba5650c764cf'),
  'name': 'test',
  'loc': 'NewYork'}]

In [39]:
collection.delete_many({
    "name": "test"
})

In [41]:
list(collection.find({
    "name" : "test"
}))

[]

In [ ]:
db.people.find() - SELECT * FROM people
db.people.find({ }, { user_id: 1, status: 1 }) - SELECT _id, user_id, status FROM people
db.people.find({ },{ user_id: 1, status: 1, _id: 0 }) - SELECT user_id, status FROM people
db.people.find({ status: "A" }) - SELECT * FROM people WHERE status = "A"
db.people.find({ status: "A", age: 50 }) - SELECT * FROM people WHERE status = "A" AND age = 50
db.people.find({ $or: [ { status: "A" } , { age: 50 } ] }) - SELECT * FROM people WHERE status = "A" OR age = 50

db.people.find({ age: { $gt: 25 } }) - SELECT * FROM people WHERE age > 25
db.people.find({ age: { $lt: 25 } }) - SELECT * FROM people WHERE age < 25
db.people.find({ age: { $gt: 25, $lte: 50 } }) - SELECT * FROM people WHERE age > 25 AND age <= 50
db.people.find( { user_id: /bc/ } )
db.people.find( { user_id: { $regex: /bc/ } } )
                                                  - SELECT * FROM people WHERE user_id like "%bc%"
db.people.find( { user_id: /^bc/ } )
db.people.find( { user_id: { $regex: /^bc/ } } )
                                                  - SELECT * FROM people WHERE user_id like "bc%"
db.people.find( { status: "A" } ).sort( { user_id: 1 } ) - SELECT * FROM people WHERE status = "A" ORDER BY user_id ASC 
db.people.find( { status: "A" } ).sort( { user_id: -1 } ) - SELECT * FROM people WHERE status = "A" ORDER BY user_id DESC
db.people.count()
db.people.find().count()
                                                  - SELECT COUNT(*) FROM people
db.people.count( { user_id: { $exists: true } } )
db.people.find( { user_id: { $exists: true } } ).count()
                                                  - SELECT COUNT(user_id) FROM people
db.people.count( { age: { $gt: 30 } } )
db.people.find( { age: { $gt: 30 } } ).count()
                                                  - SELECT COUNT(*) FROM people WHERE age > 30
db.people.distinct( "status" ) - SELECT DISTINCT(status) FROM people
db.people.findOne()
db.people.find().limit(1)
                                                  - SELECT * FROM people LIMIT 1c