변수
- 데이터를 저장하는 공간

함수
- 지정된 동작을 실행하여 결과값을 보여주는게 함수

클래스
- 속성 + 메소드
- 속성 -> 변수
- 메소드 -> 함수

In [1]:
class Class_1:
    def __init__(self, _a = None, _b = None):   
    ## 클래스가 선언이 될때 실행이 되는 함수 -> 
    ## 인자의 값을 받아와서 클래스 안에 self.변수를 만들어주는 과정
    ## 클래스가 선언이 될때 인자 값을 받을 필요가 없으면 init함수를 삭제해도 됩니다. 
        self.a = _a
        self.b = _b

    def change(self, _a, _b):   
        ## 인자값을 2개 받아오는 함수
        ## _a에 들어오는 인자값을 self.a 변수에 할당
        ## _b에 들어오는 인자값을 self.b 변수에 할당
        self.a = _a
        self.b = _b

    def func_1(self):
        ## self.a, self.b을 되돌려준다.
        return self.a, self.b
test = Class_1()    
## 클래스를 선언 할 때 인자값이 2개가 필요하지만 해당 매개변수의 기본값이 지정이 되있으므로 
## 인자값을 넣지 않아도 클래스를 선언이 됩니다.

print(test.func_1())
## print의 결과물은? -> (None, None)

test.change("test", "test2") 
## self.a = "test", self.b = "test2"로 할당을 시키는 작업
print(test.func_1())
## print의 결과물은? -> ("test", "test2")

(None, None)
('test', 'test2')

In [1]:
import datetime

In [3]:
format = '%Y-%m-%d %H:%M:%S'
datetime_str = '2022-06-08 09:37:10'
print(datetime_str)
print(format)

2022-06-08 09:37:10
%Y-%m-%d %H:%M:%S

In [6]:
datetime_dt = datetime.datetime.strptime(datetime_str, format)
print(datetime_dt)
print(type(datetime_dt))
print(type(datetime_str))

2022-06-08 09:37:10
<class 'datetime.datetime'>
<class 'str'>

In [2]:
datetime.date.today()

datetime.date(2022, 6, 9)

In [8]:
datetime_strf = datetime_dt.strftime(format)
print(datetime_strf)
print(type(datetime_strf))

2022-06-08 09:37:10
<class 'str'>

In [11]:
datetime_strf = datetime_dt.strftime('%y/%m/%d')
print(datetime_strf)
print(type(datetime_strf))

22/06/08
<class 'str'>

datetime format
- %y -> 년도를 축약해서 표기 ('22')
- %Y -> 년도 전체를 표기 ('2022')
- %b -> 축약이 된 월이름('Mar')
- %B -> 월이름 ('March')
- %m -> 월을 숫자로 표기 ('06')
- %d -> 일을 숫자로 표기 ('08')
- %H -> 24시를 기준으로 표기
- %I -> 12시를 기준으로 표기
- %S -> 초를 표기
- %p -> AM/ PM 을 표기
- %a -> 요일의 이름을 축약해서 표기('Fri')
- %A -> 요일의 이름을 표기 ('Friday')
- %w -> 요일을 숫자로 표기 (일 : 0 , 월 : 1, .... 토 : 6)

In [12]:
import pandas as pd

In [18]:
pd.Timestamp(100000000000000000) ## 0 기본적으로는 나노 초
                ## 기준이 1970년 1월 1일을 기준

Timestamp('1973-03-03 09:46:40')

In [19]:
pd.Timestamp(100, unit='D') ##unit에 인자값을 D로 설정하면 날짜를 기준으로 변경

Timestamp('1970-04-11 00:00:00')

In [20]:
pd.Timestamp('2022-06-08')

Timestamp('2022-06-08 00:00:00')

In [21]:
pd.Timestamp("2022-06") ##결과값은? -> 2022-06-01

Timestamp('2022-06-01 00:00:00')

In [22]:
pd.to_datetime("2022-1-1 12")

Timestamp('2022-01-01 12:00:00')

In [23]:
pd.to_datetime(["2022-1-1", '2022-6-8'])

DatetimeIndex(['2022-01-01', '2022-06-08'], dtype='datetime64[ns]', freq=None)

In [24]:
pd.date_range('2022-01-01', '2022-6-8')

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-05-30', '2022-05-31', '2022-06-01', '2022-06-02',
               '2022-06-03', '2022-06-04', '2022-06-05', '2022-06-06',
               '2022-06-07', '2022-06-08'],
              dtype='datetime64[ns]', length=159, freq='D')

In [25]:
pd.Period('2019-01')

Period('2019-01', 'M')

In [26]:
pd.Period('2022-01', freq="D")

Period('2022-01-01', 'D')

In [28]:
pd.date_range('2022-1-1', '2022-6-8', freq="D")

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-05-30', '2022-05-31', '2022-06-01', '2022-06-02',
               '2022-06-03', '2022-06-04', '2022-06-05', '2022-06-06',
               '2022-06-07', '2022-06-08'],
              dtype='datetime64[ns]', length=159, freq='D')

In [29]:
p = pd.Period('2022-6-8')
print(p.start_time)
print(p.end_time)

2022-06-08 00:00:00
2022-06-08 23:59:59.999999999

In [30]:
p2 = pd.Timestamp('2022-6-8 12:00:00')
p.start_time < p2 < p.end_time

True

In [32]:
pd.Timedelta("1 days 01:00:00")

Timedelta('1 days 01:00:00')

In [35]:
pd.Timestamp('2022-06-08') + pd.Timedelta("-1 days 2hours")

Timestamp('2022-06-06 22:00:00')

In [36]:
pd.Timedelta(1, unit="d")

Timedelta('1 days 00:00:00')

In [38]:
pd.Timedelta(days = 1, seconds=30)

Timedelta('1 days 00:00:30')

In [39]:
import pandas as pd
import numpy as np

In [40]:
s1 = pd.Series([1, np.nan, 3, 4, 5])
s2 = pd.Series([1,2, np.nan, 4, 5])
s3 = pd.Series([1,2,3, np.nan, 5])
df = pd.DataFrame({'S1' :s1,
                    'S2' : s2,
                    'S3' : s3})     ## {key : value,...} 딕셔너리 형    
df

    S1   S2   S3
0  1.0  1.0  1.0
1  NaN  2.0  2.0
2  3.0  NaN  3.0
3  4.0  4.0  NaN
4  5.0  5.0  5.0

In [41]:
df.isna()

      S1     S2     S3
0  False  False  False
1   True  False  False
2  False   True  False
3  False  False   True
4  False  False  False

In [42]:
df['S1'].isna()

0    False
1     True
2    False
3    False
4    False
Name: S1, dtype: bool

In [43]:
df.isna().sum()
## bool의 데이터형태 -> True, False
## True -> 1 ,  False -> 0
## isna().sum() -> 결측치의 개수를 출력

S1    1
S2    1
S3    1
dtype: int64

In [46]:
df.dropna(axis=0)
## dropna는 결측치가 존재하는 행이나 열을 삭제
## axis 속성의 값을 통해서 행을 삭제할지 열을 삭제할지 정한다. 
## 0 -> 행 ,  1 -> 열
## 'rows' -> 행, 'columns' -> 열

    S1   S2   S3
0  1.0  1.0  1.0
4  5.0  5.0  5.0

In [48]:
df.dropna(axis='columns')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [57]:
date_str = "06 08 2022" ## "일 월 년" -> (%d %m %Y)
pd.to_datetime(date_str, format="%m %d %Y")

Timestamp('2022-06-08 00:00:00')