In [ ]:
pip install requests
pip install xmltodict
pip install pprint

In [ ]:
import requests
from urllib import parse 
import xmltodict
import json
import pprint
import pandas as pd

url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson'

service_key = 'dtbWOdJ%2FCz5HE0DGLU%2BCRPe7pOW0NIQBUcGEqsHZaTRiYCI%2F5%2BzugwzQjcvuId7NPdg6rUiW%2Bft3fm7yqyD4pw%3D%3D'

params ={'serviceKey' : parse.unquote(service_key), 
        'pageNo' : '1', 
        'numOfRows' : '3000', 
        'startCreateDt' : '20200310', 
        'endCreateDt' : '20220608' }

response = requests.get(url, params=params)
result = xmltodict.parse(response.content)
# dict_result = eval(result) # type -> dict
rows = result["response"]["body"]["items"]["item"]
# pp = pprint.PrettyPrinter(indent=4)
print(rows)

In [9]:
corona_df = pd.DataFrame(rows)
corona_df

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,null,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335,3.318000336
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647,3.458499309
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998,3.621744273
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395,3.804174536
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144,3.919308057

In [10]:
corona_df.to_csv("corona.csv", encoding='utf-8')

1. corona.csv 불러오기
2. createDt을 기준으로 오름차순 정렬(기준이 되는 데이터를 수정)
3. index의 값을 초기화(기존의 인덱스는 삭제, 기준이 되는 데이터를 수정)
4. Unnamed: 0 컬럼을 삭제(기준이 되는 데이터를 수정)

In [ ]:
import pandas as pd
corona_df = pd.read_csv("../csv/corona.csv")    ##csv 파일 로드
corona_df.sort_values("createDt", inplace=True)     ##2번 createDt를 기준으로 오름차순 정렬 원본 데이터 수정
corona_df.reset_index(drop=True, inplace=True)      #3번 index 값초기화 기존 인덱스 삭제 원본 데이터 수정
corona_df.drop("Unnamed: 0", axis=1, inplace=True)          #4번 Unnamed: 0 컬럼을 삭제하고 원본 데이터 수정
corona_df.head()

In [ ]:
corona_df.columns = ["등록일시", "사망자", "확진자", "게시글번호", "기준일", "기준시간", 
                    "수정일시", "누적의심자", "누적확진률"]
corona_df.head()

In [ ]:
corona_df.isna().sum()

In [ ]:
corona_df.describe()

### describe() 함수에서 요약 정보
1. count : 컬럼별 데이터의 개수
2. mean : 컬럼별 데이터의 평균 값
3. std : 컬럼별 데이터의 표준편차
4. min : 컬럼별 데이터의 최소값
5. max : 컬럼별 데이터의 최대값
6. 25%, 50%, 75% : 컬럼별 백분위수의 각 지점의 값, 분포를 반영해서 평균을 보완하는 목적으로 사용